.mtp-actions {
    padding: 10px 0;
    margin: 0 10px;
    text-align: right;
}
.mtp-actions__button {
    text-transform: uppercase;
    font-size: 16px;
    background-color: rgb(255,255,255);
    border: none;
    padding: 5px 15px;
    text-align: right;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: 0;
    }
}
