.mtp-clock {
    width: 275px;
    height: 275px;
    border-radius: 50%;
    background-color: $c-clock-face;
    margin: 15px auto;
    position: relative;
}
.mtp-clock__time {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        position: absolute;
        text-align: center;
        border-radius: 50%;
        z-index: 555;

        &:hover:not(.mtp-clock--active) {
            background-color: $c-primary-light;
            cursor: pointer;
        }
    }
}
.mtp-clock__hours, .mtp-clock__hours--inner {
    li {
        top: 122.5px;
        left: 122.5px;
    }
}
.mtp-clock__hours {
    @include clockHours(225px, 30px);
    font-size: 16px;
}
.mtp-clock__hours--inner {
    @include clockHours(150px, 30px);
    position: absolute;
    font-size: 16px;
}
.mtp-clock__minutes {
    @include clockMinutes(225px, 30px);
    font-size: 16px;

    li:not(:nth-child(5n+1)) {
        opacity: 0;

        &:hover {
            opacity: 1;
        }
    }
}
.mtp-clock--active {
    opacity: 1 !important;
    z-index: 444;
    background-color: $c-primary;
    color: $c-text;
}
.mtp-clock__hand {
    position: absolute;
    background-color: $c-primary;
    width: 2px;
    height: 95px;
    top: 136.5px;
    left: 136.5px;
    transform-origin: 1px 1px;
    transform: rotate(180deg);
}
.mtp-clock__center {
    position: absolute;
    background-color: $c-primary;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 133.5px;
    left: 133.5px;
}
