# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# 4 spaces for application code
[*.{scss,js}]
charset = utf-8
indent_style = space
indent_size = 4

# 2 spaces for json and config files
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
