.mtp-open {
  overflow: hidden;
  position: relative; }

.mtp-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 333;
  background-color: rgba(55, 55, 55, 0.3);
  overflow: scroll; }

.mtp-wrapper {
  background-color: #fff;
  width: 300px;
  height: auto;
  margin: 10% auto; }

.mtp-picker {
  width: 100%;
  height: auto;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 3px -2px rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12); }

.mtp-display {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: #4CAF50;
  color: #FFFFFF;
  text-align: center; }

.mtp-display__time {
  font-size: 45px; }

.mtp-display__meridiem {
  font-size: 20px;
  text-transform: uppercase; }

.mtp-meridiem {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 50px;
  font-size: 14px;
  text-transform: uppercase; }
  .mtp-meridiem span {
    padding: 10px;
    margin: 0 20px;
    border-radius: 50%;
    line-height: 50px; }
    .mtp-meridiem span:hover:not(.mtp-clock--active) {
      background-color: #C8E6C9;
      color: #212121;
      cursor: pointer; }

.mtp-clock {
  width: 275px;
  height: 275px;
  border-radius: 50%;
  background-color: #EFEFEF;
  margin: 10px auto;
  position: relative; }

.mtp-clock__time {
  list-style: none;
  margin: 0;
  padding: 0; }
  .mtp-clock__time li {
    position: absolute;
    text-align: center;
    border-radius: 50%;
    top: 117.5px;
    left: 117.5px; }
    .mtp-clock__time li:hover:not(.mtp-clock--active) {
      background-color: #C8E6C9;
      cursor: pointer; }

.mtp-clock__outer {
  font-size: 16px; }
  .mtp-clock__outer > * {
    width: 40px;
    height: 40px;
    line-height: 40px; }
    .mtp-clock__outer > *:nth-of-type(1) {
      -webkit-transform: rotate(0deg) translate(117.5px) rotate(-0deg);
          -ms-transform: rotate(0deg) translate(117.5px) rotate(-0deg);
              transform: rotate(0deg) translate(117.5px) rotate(-0deg); }
    .mtp-clock__outer > *:nth-of-type(2) {
      -webkit-transform: rotate(30deg) translate(117.5px) rotate(-30deg);
          -ms-transform: rotate(30deg) translate(117.5px) rotate(-30deg);
              transform: rotate(30deg) translate(117.5px) rotate(-30deg); }
    .mtp-clock__outer > *:nth-of-type(3) {
      -webkit-transform: rotate(60deg) translate(117.5px) rotate(-60deg);
          -ms-transform: rotate(60deg) translate(117.5px) rotate(-60deg);
              transform: rotate(60deg) translate(117.5px) rotate(-60deg); }
    .mtp-clock__outer > *:nth-of-type(4) {
      -webkit-transform: rotate(90deg) translate(117.5px) rotate(-90deg);
          -ms-transform: rotate(90deg) translate(117.5px) rotate(-90deg);
              transform: rotate(90deg) translate(117.5px) rotate(-90deg); }
    .mtp-clock__outer > *:nth-of-type(5) {
      -webkit-transform: rotate(120deg) translate(117.5px) rotate(-120deg);
          -ms-transform: rotate(120deg) translate(117.5px) rotate(-120deg);
              transform: rotate(120deg) translate(117.5px) rotate(-120deg); }
    .mtp-clock__outer > *:nth-of-type(6) {
      -webkit-transform: rotate(150deg) translate(117.5px) rotate(-150deg);
          -ms-transform: rotate(150deg) translate(117.5px) rotate(-150deg);
              transform: rotate(150deg) translate(117.5px) rotate(-150deg); }
    .mtp-clock__outer > *:nth-of-type(7) {
      -webkit-transform: rotate(180deg) translate(117.5px) rotate(-180deg);
          -ms-transform: rotate(180deg) translate(117.5px) rotate(-180deg);
              transform: rotate(180deg) translate(117.5px) rotate(-180deg); }
    .mtp-clock__outer > *:nth-of-type(8) {
      -webkit-transform: rotate(210deg) translate(117.5px) rotate(-210deg);
          -ms-transform: rotate(210deg) translate(117.5px) rotate(-210deg);
              transform: rotate(210deg) translate(117.5px) rotate(-210deg); }
    .mtp-clock__outer > *:nth-of-type(9) {
      -webkit-transform: rotate(240deg) translate(117.5px) rotate(-240deg);
          -ms-transform: rotate(240deg) translate(117.5px) rotate(-240deg);
              transform: rotate(240deg) translate(117.5px) rotate(-240deg); }
    .mtp-clock__outer > *:nth-of-type(10) {
      -webkit-transform: rotate(270deg) translate(117.5px) rotate(-270deg);
          -ms-transform: rotate(270deg) translate(117.5px) rotate(-270deg);
              transform: rotate(270deg) translate(117.5px) rotate(-270deg); }
    .mtp-clock__outer > *:nth-of-type(11) {
      -webkit-transform: rotate(300deg) translate(117.5px) rotate(-300deg);
          -ms-transform: rotate(300deg) translate(117.5px) rotate(-300deg);
              transform: rotate(300deg) translate(117.5px) rotate(-300deg); }
    .mtp-clock__outer > *:nth-of-type(12) {
      -webkit-transform: rotate(330deg) translate(117.5px) rotate(-330deg);
          -ms-transform: rotate(330deg) translate(117.5px) rotate(-330deg);
              transform: rotate(330deg) translate(117.5px) rotate(-330deg); }

.mtp-clock__inner {
  position: absolute;
  font-size: 20px; }
  .mtp-clock__inner > * {
    width: 40px;
    height: 40px;
    line-height: 40px; }
    .mtp-clock__inner > *:nth-of-type(1) {
      -webkit-transform: rotate(0deg) translate(80px) rotate(-0deg);
          -ms-transform: rotate(0deg) translate(80px) rotate(-0deg);
              transform: rotate(0deg) translate(80px) rotate(-0deg); }
    .mtp-clock__inner > *:nth-of-type(2) {
      -webkit-transform: rotate(30deg) translate(80px) rotate(-30deg);
          -ms-transform: rotate(30deg) translate(80px) rotate(-30deg);
              transform: rotate(30deg) translate(80px) rotate(-30deg); }
    .mtp-clock__inner > *:nth-of-type(3) {
      -webkit-transform: rotate(60deg) translate(80px) rotate(-60deg);
          -ms-transform: rotate(60deg) translate(80px) rotate(-60deg);
              transform: rotate(60deg) translate(80px) rotate(-60deg); }
    .mtp-clock__inner > *:nth-of-type(4) {
      -webkit-transform: rotate(90deg) translate(80px) rotate(-90deg);
          -ms-transform: rotate(90deg) translate(80px) rotate(-90deg);
              transform: rotate(90deg) translate(80px) rotate(-90deg); }
    .mtp-clock__inner > *:nth-of-type(5) {
      -webkit-transform: rotate(120deg) translate(80px) rotate(-120deg);
          -ms-transform: rotate(120deg) translate(80px) rotate(-120deg);
              transform: rotate(120deg) translate(80px) rotate(-120deg); }
    .mtp-clock__inner > *:nth-of-type(6) {
      -webkit-transform: rotate(150deg) translate(80px) rotate(-150deg);
          -ms-transform: rotate(150deg) translate(80px) rotate(-150deg);
              transform: rotate(150deg) translate(80px) rotate(-150deg); }
    .mtp-clock__inner > *:nth-of-type(7) {
      -webkit-transform: rotate(180deg) translate(80px) rotate(-180deg);
          -ms-transform: rotate(180deg) translate(80px) rotate(-180deg);
              transform: rotate(180deg) translate(80px) rotate(-180deg); }
    .mtp-clock__inner > *:nth-of-type(8) {
      -webkit-transform: rotate(210deg) translate(80px) rotate(-210deg);
          -ms-transform: rotate(210deg) translate(80px) rotate(-210deg);
              transform: rotate(210deg) translate(80px) rotate(-210deg); }
    .mtp-clock__inner > *:nth-of-type(9) {
      -webkit-transform: rotate(240deg) translate(80px) rotate(-240deg);
          -ms-transform: rotate(240deg) translate(80px) rotate(-240deg);
              transform: rotate(240deg) translate(80px) rotate(-240deg); }
    .mtp-clock__inner > *:nth-of-type(10) {
      -webkit-transform: rotate(270deg) translate(80px) rotate(-270deg);
          -ms-transform: rotate(270deg) translate(80px) rotate(-270deg);
              transform: rotate(270deg) translate(80px) rotate(-270deg); }
    .mtp-clock__inner > *:nth-of-type(11) {
      -webkit-transform: rotate(300deg) translate(80px) rotate(-300deg);
          -ms-transform: rotate(300deg) translate(80px) rotate(-300deg);
              transform: rotate(300deg) translate(80px) rotate(-300deg); }
    .mtp-clock__inner > *:nth-of-type(12) {
      -webkit-transform: rotate(330deg) translate(80px) rotate(-330deg);
          -ms-transform: rotate(330deg) translate(80px) rotate(-330deg);
              transform: rotate(330deg) translate(80px) rotate(-330deg); }

.mtp-clock--active {
  z-index: 444;
  background-color: #4CAF50;
  color: #FFFFFF; }

.mtp-clock__hand {
  position: absolute;
  background-color: #4CAF50;
  width: 2px;
  height: 100px;
  top: 136.5px;
  left: 136.5px;
  -webkit-transform-origin: 1px 1px;
      -ms-transform-origin: 1px 1px;
          transform-origin: 1px 1px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.mtp-clock__center {
  position: absolute;
  background-color: #4CAF50;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: 133.5px;
  left: 133.5px; }

.mtp-actions {
  padding: 15px 0;
  margin: 0 10px;
  text-align: right; }

.mtp-actions__button {
  text-transform: uppercase;
  font-size: 16px;
  background-color: white;
  border: none;
  padding: 5px 15px;
  text-align: right; }
  .mtp-actions__button:hover {
    cursor: pointer; }
  .mtp-actions__button:focus {
    outline: 0; }
