.mtp-open {
    overflow: hidden;
    position: relative;
}
.mtp-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 333;
    background-color: rgba(55,55,55,0.3);
    overflow: scroll;
}
.mtp-wrapper {
    background-color: #fff;
    width: 300px;
    height: auto;
    margin: 10% auto;
}
.mtp-picker {
    width: 100%;
    height: auto;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 3px -2px rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}
