// colors
$c-primary-dark: #388E3C;
$c-primary: #4CAF50;
$c-primary-light: #C8E6C9;
$c-text: #FFFFFF;
$c-accent: #9E9E9E;
$c-primary-text: #212121;
$c-secondary-text: #727272;
$c-divider: #B6B6B6;
$c-clock-face: #EFEFEF;
